
<div class="center" id="skinupload">
    <span>Upload A Skin</span>
    <button id="upload">Upload Skin</button>
    <div>
        <input id="skinny" type="radio">Skinny</input>
        <input id="normal" type="radio">Normal</input>
    </div>
</div>
<script src="./assets/js/scripts/skineditor.js"></script>

